body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    margin-top: 20px;
}

.card-title {
    margin-bottom: 20px;
}

.result-container {
    word-wrap: break-word; /* 允许长单词换行 */
    word-break: break-all; /* 允许在任意字符处换行 */
}
